<main class="subject-page">
  <h1 class="subject-title">
    <%= title %>
  </h1>

  <ul class="projects list">

    <% items.map((item)=>{ %>
      <li class="projects__item">
        <a href="<%= item.url %>" class="link projects__link">
          <div class="projects__description">
            <h2 class="projects__title"><%= item.name %></h2>
          </div>
        </a>
      </li>
    <% }) %>
  </ul>
</main>