<main class="result-page">
  <h1 class="result-title">
    Виконавець тесту: <%= result.name %>
  </h1>

  <p>
    Правильних відповідей: <%= correctAnswers.length %> з <%= resultAnswers.length %>
  </p>

  <p>
    Набрано балів: <%= totalPoints %>
  </p>
</main>