<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home page</title>
  <base href="/">

  <link rel="stylesheet" href="/public/main.css">

  <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">
</head>

<body>
  <%- body %>
</body>

</html>